* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'vcr';
    src: url('web-assets/VCR_OSD_MONO.ttf') format('truetype');
}

.above-the-fold {
    /*background-image: url(/web-assets/dont-blink.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;*/
    width: 100%;
    height: 100svh;
    background-color: black; /*#222;*/
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    place-items: center;
    position: relative;
}

.above-the-fold > * {
    grid-row: 1;
    grid-column: 1;
}

.above-the-fold svg {

    max-height: 90vh;
    max-width: 90vw;

}

.above-the-fold .go-on {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    opacity: 0;
    animation: blink 2s ease-out 5s infinite;
    font-family: monospace;
    text-align: center;
    margin: .5rem 0 1rem;
}

.above-the-fold .wrapper-intro {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}

figure.users-imgs {
    padding: 3rem 1rem;
    margin: 3rem 0;
}

.gallery {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

figcaption {
    text-align: center;
    font-size: .8em;
    margin-top: 1rem;
}

.main-text .gallery > img {
    width: 300px;

}

a[download].link-demo {
    display: block;
    width: fit-content;
    margin: .5rem auto;
    background-color: gold;
    text-align: center;
    font-family: Poppins;
    padding: .5em .75em;
    border-radius: 10px;
    text-decoration: none;
    font-size: .9em;
    font-weight: 400;
    color: black;

}

a[download].link-demo:visited {
    color: black;
}

.dont-blink path {
    opacity: 0;
}

/* TYPOGRAPHY */
.dialogue {
    font-style: italic;
}

.terminal {
    font-family: vcr, monospace;
}

.story {
    padding: .5em;
    max-width: 560px;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 3rem auto;
    font-family: "Crimson Text";
}

.main-text {
    padding: 2rem .5em 2rem;
    color: ghostwhite;
    background-color: #222;
    font-family: "Poppins";
    font-weight: 300;
    font-size: 1.1rem;
}

.main-text a {
    color: yellow;
}

.main-text a:visited {
    color: darkgoldenrod;
}

.main-text h2,
.main-text h3 {
    font-family: vcr;
}

.main-text h2 {
    margin-top: 3rem;
    border-bottom: 2px solid currentColor;
    padding-bottom: .5em;
}

.main-text .wrapper-text {

    max-width: 620px;
    margin: 2rem auto;

}

.main-text cite {
    font-size: .9em;
}

.main-text img {
    display: block;
    width: 100%;
}

.yt-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

/* TEAM */
.team-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.member-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-container img.member-photo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.member-text-content p {
    text-align: center;
    margin: .2em 0;
    font-size: .8em;
}

.team-container p {
    max-width: 260px;
}


.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }

  @keyframes blink {

    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

  }