* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'vcr';
    src: url('web-assets/VCR_OSD_MONO.ttf') format('truetype');
}

.above-the-fold {
    /*background-image: url(/web-assets/dont-blink.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;*/
    width: 100%;
    height: 100svh;
    background-color: black; /*#222;*/
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    place-items: center;
}

.above-the-fold > * {
    grid-row: 1;
    grid-column: 1;
}

.above-the-fold svg {

    max-height: 90vh;
    max-width: 90vw;

}

.dont-blink path {
    opacity: 1;
}

/* TYPOGRAPHY */
.dialogue {
    font-style: italic;
}

.terminal {
    font-family: vcr, monospace;
}

.story {
    max-width: 560px;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 1rem auto;
}

.main-text {
    max-width: 620px;
    margin: 1rem auto;
}

/* TEAM */
.team-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.member-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-photo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.member-text-content p {
    text-align: center;
    margin: .2em 0;
    font-size: .8em;
}


.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }